* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #000000;
}
body.dark-theme {
  background-color: #121212;
  color: #e0e0e0;
}

/* Пример для вашего модального окна в темной теме */
body.dark-theme .header__pop-user-set {
  background-color: #1e1e1e;
  border-color: rgba(148, 166, 190, 0.7);
  box-shadow: 0px 10px 39px 0px rgba(255, 255, 255, 0.1);
}

body.dark-theme .pop-user-set__name,
body.dark-theme .pop-user-set__mail,
body.dark-theme .pop-user-set__theme p {
  color: #e0e0e0;
}

/* Можно добавить стили для чекбокса и кнопок в темной теме */
body.dark-theme .pop-user-set__theme input[type='checkbox'] {
  background: #565eef;
}

body.dark-theme .pop-user-set__theme input[type='checkbox']::before {
  background-color: #fff;
}

body.dark-theme ._hover03 {
  border-color: #94a6be;
  color: #94a6be;
}

body.dark-theme ._hover03:hover {
  background-color: #94a6be;
  color: #121212;
}


.wrapper {
  max-width: 100%;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: #f1f1f1;
}

._hover01:hover {
  background-color: #33399b;
}

._hover02:hover,
.header__user:hover {
  color: #33399b;
}
._hover02:hover::after,
.header__user:hover::after {
  border-left-color: #33399b;
  border-bottom-color: #33399b;
}

._hover03:hover {
  background-color: #33399b;
  color: #ffffff;
}
._hover03:hover a {
  color: #ffffff;
}

._orange {
  background-color: #ffe4c2;
  color: #ff6d00;
}

._green {
  background-color: #b4fdd1;
  color: #06b16e;
}

._purple {
  background-color: #e9d4ff;
  color: #9a48f1;
}

._gray {
  background: #94a6be;
  color: #ffffff;
}

._active-category {
  opacity: 1 !important;
}

.subttl {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}

.categories {
  margin-bottom: 20px;
}
.categories__themes {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.categories__p {
  margin-bottom: 14px;
}
.categories__theme {
  display: inline-block;
  width: auto;
  height: 30px;
  padding: 8px 20px;
  border-radius: 24px;
  margin-right: 7px;
  opacity: 0.4;
}
.categories__theme p {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  white-space: nowrap;
}
