* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #000000;
}
body.dark-theme {
  background-color: #20202C;
  color: #ffffff;
}
body.dark-theme {
  .subttl {
    color: #ffffff; 
  }
}
body.dark-theme {
  ._orange {
    background-color: #ff6d00;
    color: #ffe4c2;
  }

  ._green {
    background-color: #06b16e;
    color: #b4fdd1;
  }

  ._purple {
    background-color: #9a48f1;
    color: #e9d4ff;
  }

  ._gray {
    background-color: #ffffff;
    color: #94a6be;
  }

  ._active-category {
    opacity: 1 !important;
  }
}
.wrapper {
  max-width: 100%;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: #f1f1f1;
}

._hover01:hover {
  background-color: #33399b;
}

._hover02:hover,
.header__user:hover {
  color: #33399b;
}
._hover02:hover::after,
.header__user:hover::after {
  border-left-color: #33399b;
  border-bottom-color: #33399b;
}

._hover03:hover {
  background-color: #33399b;
  color: #ffffff;
}
._hover03:hover a {
  color: #ffffff;
}

.subttl {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}

._orange {
  background-color: #ffe4c2;
  color: #ff6d00;
}

._green {
  background-color: #b4fdd1;
  color: #06b16e;
}

._purple {
  background-color: #e9d4ff;
  color: #9a48f1;
}

._gray {
  background: #94a6be;
  color: #ffffff;
}

._active-category {
  opacity: 1 !important;
}

.categories {
  margin-bottom: 20px;
}
.categories__themes {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.categories__p {
  margin-bottom: 14px;
}
.categories__theme {
  display: inline-block;
  width: auto;
  height: 30px;
  padding: 8px 20px;
  border-radius: 24px;
  margin-right: 7px;
  opacity: 0.4;
}
.categories__theme p {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  white-space: nowrap;
}
